# PostgreSQL
POSTGRES_DB=
POSTGRES_DB_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=

# pgAdmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# JWT keys
JWT_SECRET_KEY_ACCESS=
JWT_SECRET_KEY_REFRESH=
JWT_SIGNING_ALGORITHM=

# MailHog UI auth. only protects the web interface
MAILHOG_USER=
MAILHOG_PASSWORD=
# Email Settings
SMTP_SERVER=
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_USE_TLS=false
MAILHOG_API_PORT=8025

# Redis
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=some_password

S3_STORAGE_HOST=  # use service name for relieable networking
S3_STORAGE_PORT=
S3_STORAGE_ACCESS_KEY=
S3_STORAGE_SECRET_KEY=
S3_BUCKET_NAME=